@font-face {
  font-family: "WACKOZ";
  src: local(WACKOZ), url(WACKOZ.ttf) format('truetype');
  font-weight: normal;
  font-style: normal; 
}


/*Configuração padrão do CSS*/
* {
    box-sizing: border-box;
    margin: 0;
}

/*Cores utilizadas no site*/
:root {
    --Gold: #FFD700;
    --MediumVioletRed: #C71585;
    --OrangeRed: #FF4500;
    --DarkOrange: #FF8C00;
    --Sea-Blue: #2E8B57;
    --Lime: #00FF00;
    --DarkCyan: #008B8B;
    --Cyan: #00FFFF;
    --Indigo: #4B0082;
    --Snow: #FFFAFA;
    --Khaki: #F0E68C;
    --Light-Salmon: #FFA07A;
    --PapayaWhip:   #FFEFD5;
    --Crimson:  #DC143C;
    --Danilo: #111111;
    --Madeirada: #a52a2a;
}



/* espaçamento entre texto*/
.espaco {
margin: 50px;
}

.marca-nome {
  color: var(--MediumVioletRed);
  font-family: WACKOZ;
  font-size: 50px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: var(--Danilo) 8px 8px 3px;
  position: relative;
  top: 10px;
}

nav h1 {
margin-left: 32%;
margin-top: 50px;
}

/*Logotipo do site*/
.logo {
    height: 120px;
    width: 150px;
    margin: 5px;
}

.first{
  display: flex;
}

main {
    background-color: var(--Snow);
   display: flex;

}

/*Cabeçalho do site*/
header {
  display: flex;
  background-image: url(/imagens/paw4.jpeg);
   background-size: 100% 400%;
   background-repeat: no-repeat;
   
   width: 100%;
}

.hr {
  margin: 5px;
  border: 2px solid var(--Danilo);
}

.menu {
   width: 100%;
   display: flex;

}

.menu img{
  border: 5px solid var(--Danilo);
  border-radius: 60px;
}

/*Div que engloba os dois botões de autenticação*/
.menu-buttons {
    display: flex;
    float: right;
    position: relative;
    left: 400px;
    top: 5px;
}


/*Botões individuais*/
.butao {
    background-color: var(--Danilo);
    font-family: WACKOZ;
    border-radius: 15px;
    color: var(--MediumVioletRed);
    height: 50px;
    width: 150px;
    margin-left: 40px;
    font-size: 18PX;
    margin-top: auto;
margin-bottom: auto;
  border: outset 2px var(--MediumVioletRed);
}

/*Rodapé do site*/
.roda-pe-geral {
    background-color: var(--OrangeRed);
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

.roda-pe {
  display: flex;
  justify-content: space-between;
}

.cartao {
  justify-content: center;
  display: flex;
  gap: 25px;
}

.telefone {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.telefone img {
  height: 35px;
}

.link:hover {
    background-color: var(--Lime);
    transition: transform 0.3s ease;
}
 
  /* parte*/
  .apresentacao {
    width: 70%;
    text-align: center;
    border: var(--Danilo) solid 4px;
    border-radius: 10px;
    margin: 5px;
    background-image: url(imagens/paudog.jpg);
    background-repeat: no-repeat;
    background-size: 100% 550px;
    color: white ;
    text-shadow: 3px 2px 2px var(--Danilo);
  }

h3 {
  padding: 15px;
  font-size: 30px;
}

.first-slide img {
  width: 80px;
}

  .service {
    display: flex;

  }

  .check-box{
    font-size: 25px;
    margin: 30px;
  }

  .service img {
    height: 30px;
  
  }

  .coments{
    width: 30%;
    text-align: center;
    margin: 5px;
    border: var(--Danilo) solid 4px;
  
    border-radius: 10px;
    background-size: cover;
 
  }

  .coment-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: 0px 5px 30px 5px;
    border: var(--Danilo) solid;
   
    border-radius: 15px;
    padding: 5px;
  }

  .coment-box img {
    height: 30px;
  }

  .marca-registrada {
    display: flex;
    justify-content: center;
  }
