@font-face {
  font-family: "WACKOZ";
  src: local(WACKOZ), url(WACKOZ.ttf) format('truetype');
  font-weight: normal;
  font-style: normal; 
}


/*Configuração padrão do CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Cores utilizadas no site*/
:root {
    --Gold: #FFD700;
    --Preto-Um-Pouco-Claro: #222020;
    --MediumVioletRed: #C71585;
    --OrangeRed: #FF4500;
    --DarkOrange: #FF8C00;
    --Sea-Blue: #2E8B57;
    --Lime: #00FF00;
    --DarkCyan: #008B8B;
    --Cyan: #00FFFF;
    --Indigo: #4B0082;
    --Snow: #FFFAFA;
    --Khaki: #F0E68C;
    --Light-Salmon: #FFA07A;
    --PapayaWhip:   #FFEFD5;
    --Crimson:  #DC143C;
    --Danilo: #111111;
    --Madeirada: #a52a2a;
    --DodgerBlue: #1E90FF;
    --LightGray: #D3D3D3;
    --DarkGray: #A9A9A9;
}



/* espaçamento entre texto*/
.espaco {
margin: 50px;
}


/* cabeçalho do header */

/* logo do site */
  .logo {
    height: 250px;
    width: 250px;
}
  
  
/*Cabeçalho do site*/
header {
    height: 250px;
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
}
.menu {
    display: flex;
    align-items: center;
}
.menu-btn {
    display: flex;
}
.btn-menu {
    display: flex;
    align-items: center;
  
}
#btn-login {
    color: var(--Snow);
    background-color: var(--Danilo);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;

}
  /* menu de navegação do site */
.corpo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imagens/fundowalkanddog.png);
    border-top: 5px solid var(--Danilo);
    border-bottom: 5px solid var(--Danilo);
}
.apresentacao {
  width: auto; /* Define a largura como 70% do contêiner pai */
  text-align: center; /* Alinha o texto ao centro */
  border: var(--LightGray) solid 2px; /* Define uma borda de 2px com a cor LightGray (variável CSS) */
  border-radius: 10px; /* Arredonda os cantos da borda em 10px */
  box-shadow: black 3px 2px 8px; /* Aplica uma sombra preta com 3px de deslocamento horizontal, 2px de vertical e 8px de difusão */
  margin: 5px; /* Aplica uma margem de 5px ao redor do elemento */
  background-color: var(--DarkGray); /* Define a cor de fundo como DarkGray (variável CSS) */
  background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
  background-size: 100% 500px; /* Faz a imagem de fundo cobrir 100% da largura e ter 550px de altura */
  color: var(--Danilo); /* Define a cor do texto como branca */
}
h2 {
  padding: 15px; /* Aplica um padding de 15px ao redor do elemento */
  font-size: 40px; /* Define o tamanho da fonte como 30px */
}
.service {
  display: flex; /* Define o layout como flexbox */
}
.service-txt {
  font-size: 30px;
  font-weight: bold; /* Torna a fonte em negrito */
}

.corpo-comentarios{
  display: flex;
  justify-content: center;
}

.check-box {
  margin: 30px; /* Aplica uma margem de 30px ao redor do elemento */
}

.service img {
  height: 30px; /* Define a altura das imagens como 30px */
}

#comentarios {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

#lista-comentarios ul {
  list-style-type: none;
  padding: 0;
}

#lista-comentarios li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.corpo-comentario{
  display: flex;
}
/*Começo do pop-up*/


.popup-login {
  font-family: "Raleway", sans-serif; /* Define a fonte usada dentro deste elemento */
  background-color: var(--DarkCyan); /* Define a cor de fundo como uma variável CSS (--DarkCyan) */
  height: 100vh; /* A altura do fundo é 100% da altura da janela (viewport) */
}

.center {
  position: absolute; /* Posicionamento absoluto dentro do elemento pai */
  top: 8%; /* Coloca o elemento 8% abaixo do topo da tela */
  left: 90%; /* Coloca o elemento 90% a partir da esquerda da tela */
  transform: translate(-50%, -50%); /* Move o elemento para o centro (ajusta a posição) */
}

.center button {
  padding: 10px 20px; /* Define o preenchimento interno do botão */
  font-size: 15px; /* Tamanho da fonte no botão */
  font-weight: 600; /* Peso da fonte */
  color: var(--DarkOrange); /* Cor do texto como uma variável CSS */
  background-color: var(--Gold); /* Cor de fundo do botão como uma variável CSS */
  border: none; /* Remove a borda padrão do botão */
  outline: none; /* Remove o contorno ao focar no botão */
  cursor: pointer; /* O cursor muda para um ponteiro ao passar por cima do botão */
  border-radius: 5px; /* Bordas arredondadas do botão */
}

.popup {
 display: none;
  position: absolute; /* Posicionamento absoluto */
   top: 50%; /*centraliza o popup na vertical */
  left: 50%; /* Centraliza o popup horizontalmente */
  transform: translate(-50%, -50%) scale(1.25); /* Centraliza o popup e aplica uma escala */
  width: 300px; /* Largura fixa do popup */
  padding: 20px 30px; /* Preenchimento interno do popup */
  background-color: var(--PapayaWhip); /* Cor de fundo do popup */
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15); /* Sombra ao redor do popup */
  border-radius: 10px; /* Bordas arredondadas */
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms; /* Define a animação */
}

.popup.active {
  top: 50%; /* O popup é movido para o meio da tela */
  opacity: 1; /* Torna o popup visível */
  transform: translate(-50%, -50%) scale(1); /* Centraliza e remove a escala */
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms; /* Ajusta as transições */
}

.popup .close-btn {
  position: absolute; /* Posiciona o botão de fechar no topo à direita do popup */
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: var(--Crimson); /* Cor de fundo do botão de fechar */
  color: white; /* Cor do texto dentro do botão */
  text-align: center; /* Alinha o texto no centro */
  line-height: 15px; /* Alinha verticalmente o texto */
  border-radius: 15px; /* Tornando o botão circular */
  cursor: pointer; /* Define o cursor como ponteiro */
}

.popup .form h2 {
  text-align: center; /* Centraliza o título */
  color: var(--Sea-Blue); /* Cor do texto */
  margin: 10px 0px 20px; /* Margens ao redor do título */
  font-size: 25px; /* Tamanho da fonte */
}

.popup .form .form-element {
  margin: 15px 0; /* Define margens entre os elementos do formulário */
}

.popup .form .form-element label {
  font-size: 14px; /* Tamanho da fonte */
  color: var(--DarkCyan); /* Cor do texto */
}
.popup .form .form-element input[type="text"],
 .popup .form .form-element input[type="password"] {
  margin-top: 5px; /* Margem acima dos campos de input */
  display: block; /* Exibe os inputs como blocos */
  width: 100%; /* Largura dos inputs é 100% */
  padding: 10px; /* Preenchimento interno */
  outline: none; /* Remove o contorno ao focar */
  border: 1px solid var(--Lime); /* Borda verde-limão */
  border-radius: 5px; /* Bordas arredondadas */
}

.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px; /* Espaço à direita do checkbox */
}

.popup .form .form-element button {
  width: 100%; /* Largura do botão é 100% */
  height: 40px; /* Altura do botão */
  border: none; /* Remove borda do botão */
  outline: none; /* Remove o contorno do botão */
  font-size: 15px; /* Tamanho da fonte */
  background-color: var(--Cyan); /* Cor de fundo do botão */
  color: var(--Madeirada); /* Cor do texto */
  border-radius: 10px; /* Bordas arredondadas */
  cursor: pointer; /* Define o cursor como ponteiro */
}

.popup .form .form-element a {
  display: block; /* Exibe o link como bloco */
  text-align: right; /* Alinha o texto à direita */
  font-size: 15px; /* Tamanho da fonte */
  color: var(--DodgerBlue); /* Cor azul para o texto */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: 600; /* Peso da fonte */
}

/*Modal do botão registro*/
.center {
  position: absolute; /* Posicionamento absoluto dentro do elemento pai */
  top: 8%; /* Coloca o elemento 8% abaixo do topo da tela */
  left: 90%; /* Coloca o elemento 90% a partir da esquerda da tela */
  transform: translate(-50%, -50%); /* Move o elemento para o centro (ajusta a posição) */
}


/* Fim do pop-up */


/*Rodapé do site*/
.roda-pe-geral {
  background-color: var(--DarkGray); /* Define a cor de fundo como Light-Salmon (variável CSS) */
  background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
  background-size: 100% 500px; /* Define que a imagem de fundo deve cobrir toda a largura do elemento (100%) e ter altura de 500px */
}

.roda-pe {
  display: flex; /* Define o layout como flexbox */
  justify-content: space-between; /* Distribui os itens ao longo do eixo horizontal, com o maior espaçamento possível entre eles */
  padding-bottom: 50px; /* Aplica um padding de 50px na parte inferior */
}

.cartao {
  justify-content: center; /* Alinha os itens no centro ao longo do eixo horizontal */
  display: flex; /* Define o layout como flexbox */
  gap: 25px; /* Aplica um espaçamento de 25px entre os itens */
}

.telefone {
  display: flex; /* Define o layout como flexbox */
  flex-direction: column; /* Organiza os itens em uma coluna */
  margin: auto 0; /* Aplica margens automáticas à esquerda e direita, e nenhuma margem superior ou inferior */
}

.telefone img {
  height: 35px; /* Define a altura das imagens como 35px */
}

.link:hover {
  background-color: var(--Lime); /* Altera a cor de fundo para Lime (variável CSS) quando o mouse passar sobre o link */
  transition: transform 0.3s ease; /* Aplica uma transição suave para qualquer transformação (como escalonamento) ao longo de 0.3 segundos */
}

/*Div para organizar as redes sociais*/
.midias-sociais {
  display: flex; /* Define o layout como flexbox */
}


/*Div para espaçar os SVGs*/
.imagens-midia {
  display: flex; /* Define o layout como flexbox */
  justify-content: space-between; /* Distribui os itens ao longo do eixo horizontal com o maior espaçamento possível entre eles */
  padding-top: 20px; /* Aplica um padding de 20px no topo */
}

  /* parte*/

  h3 {
    padding: 15px; /* Aplica um padding de 15px ao redor do elemento */
    font-size: 30px; /* Define o tamanho da fonte como 30px */
  }

  .first-slide img {
    width: 80px; /* Define a largura da imagem como 80px */
  }

  .service {
    display: flex; /* Define o layout como flexbox */
  }

  .check-box {
    font-size: 25px; /* Define o tamanho da fonte como 25px */
    margin: 30px; /* Aplica uma margem de 30px ao redor do elemento */
  }

  .service img {
    height: 30px; /* Define a altura das imagens como 30px */
  }

  .coments {
    width: 30%; /* Define a largura como 30% do contêiner pai */
    text-align: center; /* Alinha o texto ao centro */
    margin: 5px; /* Aplica uma margem de 5px ao redor do elemento */
    border: var(--Danilo) solid 4px; /* Define uma borda de 4px com a cor Danilo (variável CSS) */
    border-radius: 10px; /* Arredonda os cantos da borda em 10px */
    background-size: cover; /* Faz a imagem de fundo cobrir todo o espaço disponível */
    overflow: hidden; /* Impede que conteúdo excedente seja visível */
  }

  .coment-box {
    display: flex; /* Define o layout como flexbox */
    align-items: center; /* Alinha os itens ao centro no eixo vertical */
    justify-content: center; /* Alinha os itens ao centro no eixo horizontal */
    font-size: 22px; /* Define o tamanho da fonte como 22px */
    margin: 0px 5px 30px 5px; /* Aplica margens de 0px à esquerda, 5px à direita, 30px na parte inferior e 5px na parte superior */
    border: var(--Danilo) solid; /* Define uma borda sólida com a cor Danilo (variável CSS) */
    border-radius: 15px; /* Arredonda os cantos da borda em 15px */
    padding: 5px; /* Aplica um padding de 5px ao redor do conteúdo */
  }

  .coment-box img {
    height: 30px; /* Define a altura das imagens como 30px */
  }

/*Div para acoplar a mensagem de marca catalogada*/
.marca-registrada {
  display: flex; /* Define o layout como flexbox, permitindo um layout flexível */
  justify-content: center; /* Alinha os itens filhos ao centro ao longo do eixo horizontal */
  padding-bottom: 20px; /* Aplica um padding de 20px na parte inferior do contêiner */
}

/*Aumentar a fonte do texto*/
.marca-registrada h4 {
  font-size: 20px; /* Define o tamanho da fonte do texto h4 para 20px */
}





  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*ESPAÇO RESERVADO PARA INDEX1*/

.slider{ /*DIV GERAL DAS IMAGENS DA TRANSIÇÃO*/
  margin: 0 auto;
  width: 1700px;
  height: 700px;
  overflow: hidden;
  border: outset 8px var(--gold);
  border-radius: 20px;
  }
  
  .slides{ /*ABRANGE OS BUTTONS, IMAGENS E INPUTS*/
  width: 400%;
  height: 400px;
  display: flex;
  }
  
  .slides input{ /*BOLINHAS*/
  display: none;
  }
  
  .slide{/*CADA IMAGEM*/
  width: 25%;
  position: relative;
  transition: 1s;
  }
  
  .slide img{ /*IMAGEM DO SLIDE*/
  width: 1700px;
  height: 700px;
  }
  
  .manual-navigation{
  position: absolute;
  width: 1700px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
  }
  
  .manual-btn{
  border: 2px solid var(--DarkOrange);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 3s;
  }
  
  .manual-btn:not(:last-child){
  margin-right: 40px;
  }
  
  .manual-btn:hover{
  background-color: var(--DarkCyan);
  }
  
  #radio1:checked ~ .first{ /*pai*/
  margin-left: 0;
  }
  
  #radio2:checked ~ .first{ /*filho*/
      margin-left: -25%;
  }
  
  #radio3:checked ~ .first{ /*filho2*/
      margin-left: -50%;
  }
  
  #radio4:checked ~ .first{ /*filho3*/
      margin-left: -75%;
  }
  
  #radio5:checked ~ .first{ /*filho3*/
    margin-left: -100%;
}
  .navigation-auto div{
  border: 2px solid var(--black);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
  }
  
  .navigation-auto{
  position: absolute;
  width: 1700px;
  margin-top: 630px;
  display: flex;
  justify-content: center;
  }
  
  .navigation-auto div:not(:last-child){
  margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: var(--white);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: var(--white);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
   background-color: var(--white);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: var(--white);
  }
  
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--white);
  }

.txt-area-walker {
  display: flex;
  justify-content: center;
}

.container-walker1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.container-walker2 {
  display: grid;
  grid-template-columns: 2fr;
}

.caixa-walker1 {
  display: inline-flex;
  border: 5px solid var(--Danilo);
  padding-bottom: 500px;
  position: relative;
  line-height: 500px;
  cursor: pointer;
  gap: 30px;
}

.caixa-imagem1 {
  display: inline-flex;
  background-image: url(/imagens/historicopasseio.jpg);
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
}

.caixa-walker1 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--DarkGray);
  text-shadow: var(--Danilo) 50px 50px 50px;
}

.caixa-walker2 {
  display: inline-flex;
  border: 5px solid var(--Danilo);
  padding-bottom: 500px;
  position: relative;
  line-height: 500px;
  cursor: pointer;
}

.caixa-imagem2 {
  display: inline-flex;
  background-image: url(/imagens/grafico\ de\ ganhos.png);
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
}

.caixa-walker2 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--DarkGray);
  text-shadow: var(--Danilo) 50px 50px 50px;
}

.caixa-walker3 {
  display: inline-flex;
  border: 5px solid var(--Danilo);
  padding-bottom: 500px;
  position: relative;
  line-height: 500px;
  cursor: pointer;
}

.caixa-imagem3 {
  display: inline-flex;
  background-image: url(/imagens/configurações\ e\ preferências.png);
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
}

.caixa-walker3 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--DarkGray);
  text-shadow: var(--Danilo) 50px 50px 50px;
}

.child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
}

/*Estilizando a parte do contato.*/
.corpo-dados {
  background-color: var(--DarkGray);
  font-size: 20px;
}

/*titulo do contato*/
.title-contato {
text-align: center;

}

.contato-geral {
  


}
