
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
/* Atma */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Configuração padrão do CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Atma';
}

/*Cores utilizadas no site*/
:root {
    --Gold: #FFD700;
    --Preto-Um-Pouco-Claro: #222020;
    --MediumVioletRed: #C71585;
    --OrangeRed: #FF4500;
    --DarkOrange: #FF8C00;
    --Sea-Blue: #2E8B57;
    --Lime: #00FF00;
    --DarkCyan: #008B8B;
    --Cyan: #00FFFF;
    --Indigo: #4B0082;
    --Snow: #FFFAFA;
    --Khaki: #F0E68C;
    --Light-Salmon: #FFA07A;
    --PapayaWhip:   #FFEFD5;
    --Crimson:  #DC143C;
    --Danilo: #111111;
    --Madeirada: #a52a2a;
    --DodgerBlue: #1E90FF;
    --LightGray: #D3D3D3;
    --DarkGray: #A9A9A9;
    --Grey:       #808080;
}

/* cabeçalho do header */
header {
 position: fixed;
 width: 100%;
}
/* logo do site */
  .logo {
    height: 100px;
    width: 100px;
}
.logo-2 {
  width: 400px;
} 
/* Estilo do botão principal "Acessar" */
.menu-button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Atma';
}

/* Menu suspenso (dropdown) que aparece no hover */
.dropdown {
  display: none; /* Inicialmente escondido */
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s linear, visibility 0.30s linear;
  width: 130px;
}

/* Estilo dos botões dentro do menu suspenso */
.dropdown button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Efeito de hover nos botões do menu */
.dropdown button:hover {
  background-color: dimgray;
}

/* Mostrar o menu suspenso quando o botão é hoverizado */
.bots:hover .dropdown {
  display: block;
  opacity: 1; /* Tornar visível ao passar o mouse */
}
.bots .dropdown {
  opacity: 0;
  transition-delay: 0.30s; /* Atraso de 0.5s para desaparecer */
}

/* Estilo das modais */
.modal-login {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente */
}
.modal-walker {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente */
}

.modal-cliente {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente */
}

/* Conteúdo das modais */
.modal-content-login {
  background-color: white;
  margin: 18% auto;
  width: 16%;
  padding: 30px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 15px;

}
.modal-content-cliente {
  background-color: white;
  margin: 5% auto;
  padding: 30px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content-walker {
  background-color: white;
  margin: 5% auto;
  padding: 30px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Botão de fechar da modal */
.close-btn {
  color: black;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

/* Estilo para os botões de Login e Registrar */
.login-button, .register-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}


.logout-button {
  background-color: var(--Danilo);
  color: white;
  border-radius: 10px;
margin-left: 350px;

}
  
  
/*Cabeçalho do site*/
header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a9a9a9;
    padding: 0 30px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu-btn {
    display: flex;
}
.btn-menu {
    display: flex;
    align-items: center;
  
}
#btn-login {
    color: var(--Snow);
    background-color: var(--Danilo);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    font-family: Atma;

}
  /* menu de navegação do site */
.corpo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imagens/fundowalkanddog.png);
    border-top: 5px solid var(--Danilo);
    border-bottom: 5px solid var(--Danilo);
}
.apresentacao {
  width: auto; /* Define a largura como 70% do contêiner pai */
  text-align: center; /* Alinha o texto ao centro */
  border: var(--LightGray) solid 2px; /* Define uma borda de 2px com a cor LightGray (variável CSS) */
  border-radius: 10px; /* Arredonda os cantos da borda em 10px */
  box-shadow: black 3px 2px 8px; /* Aplica uma sombra preta com 3px de deslocamento horizontal, 2px de vertical e 8px de difusão */
  margin: 5px; /* Aplica uma margem de 5px ao redor do elemento */
  background-color: var(--DarkGray); /* Define a cor de fundo como DarkGray (variável CSS) */
  background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
  background-size: 100% 500px; /* Faz a imagem de fundo cobrir 100% da largura e ter 550px de altura */
  color: var(--Danilo); /* Define a cor do texto como branca */
}
.img-tabela {
  width: 1000px;
}
#btn-servico {
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Atma;
}
h2 {
  padding: 15px; /* Aplica um padding de 15px ao redor do elemento */
  font-size: 40px; /* Define o tamanho da fonte como 30px */
  font-family: Atma;
}

.corpo-comentarios{
  display: flex;
  justify-content: center;
  font-family: 'Atma', sans-serif;
}

#comentarios h3,
#lista-comentarios h3 {
    font-family: 'Atma', sans-serif;
}

#comentarios input,
#comentarios textarea,
#comentarios button {
    font-family: 'Atma', sans-serif;
}

#comentarios {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  
}

button:hover {
  background-color: #24252a;
}

#lista-comentarios ul {
  list-style-type: none;
  padding: 0;
}

#lista-comentarios li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.corpo-comentario{
  display: flex;
}

/*Rodapé do site*/
.roda-pe-geral {
  background-color: var(--DarkGray); /* Define a cor de fundo como Light-Salmon (variável CSS) */
  background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
  background-size: 100% 400px; /* Define que a imagem de fundo deve cobrir toda a largura do elemento (100%) e ter altura de 500px */
  background-image: url(/imagens/patadiagonal.png);
  font-family: Atma;
  
}

.cartao {
  justify-content: center; /* Alinha os itens no centro ao longo do eixo horizontal */
  display: flex; /* Define o layout como flexbox */
  gap: 25px; /* Aplica um espaçamento de 25px entre os itens */
}

.telefone {
  display: flex; /* Define o layout como flexbox */
  flex-direction: column; /* Organiza os itens em uma coluna */
  margin: auto 0; /* Aplica margens automáticas à esquerda e direita, e nenhuma margem superior ou inferior */
}

.telefone img {
  height: 35px; /* Define a altura das imagens como 35px */
}

.link:hover {
  background-color: var(--Lime
  ); /* Altera a cor de fundo para Lime (variável CSS) quando o mouse passar sobre o link */
  transition: transform 0.3s ease; /* Aplica uma transição suave para qualquer transformação (como escalonamento) ao longo de 0.3 segundos */
}

/*Div para espaçar os SVGs*/
.img-midia {
  display: flex;
  flex-direction: column;
}

.imagem-midia {
  width: 80px;
}

.img-midia-icon {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.img-midia-icon img {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.whats:hover {
  background-color: var(--LightGray);
  border-radius: 25px;
}

.insta:hover {
  background-color: var(--LightGray);
  border-radius: 25px;
}
.titulos-midias {
  display: flex;
  justify-content: space-between;
}

.title-midia{
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.texto {
  color: var(--Danilo);
  padding: 5px;
}

@media (hover: hover) {
  /* when hover is supported */
  .texto:hover {
    color: var(--Sea-Blue);
    background: var(--Preto-Um-Pouco-Claro);
    transition: all 0.5s ease-out;
    border-radius: 15px;
  }
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 1px 3px 4px 0px;
}
  /* parte*/

  h3 {
    padding: 15px; /* Aplica um padding de 15px ao redor do elemento */
    font-size: 30px; /* Define o tamanho da fonte como 30px */
  }

  .first-slide img {
    width: 80px; /* Define a largura da imagem como 80px */
  }

  .service {
    display: flex; /* Define o layout como flexbox */
  }

  .check-box {
    font-size: 25px; /* Define o tamanho da fonte como 25px */
    margin: 30px; /* Aplica uma margem de 30px ao redor do elemento */
  }

  .service img {
    height: 30px; /* Define a altura das imagens como 30px */
  }

  .coments {
    width: 30%; /* Define a largura como 30% do contêiner pai */
    text-align: center; /* Alinha o texto ao centro */
    margin: 5px; /* Aplica uma margem de 5px ao redor do elemento */
    border: var(--Danilo) solid 4px; /* Define uma borda de 4px com a cor Danilo (variável CSS) */
    border-radius: 10px; /* Arredonda os cantos da borda em 10px */
    background-size: cover; /* Faz a imagem de fundo cobrir todo o espaço disponível */
    overflow: hidden; /* Impede que conteúdo excedente seja visível */
  }

  .coment-box {
    display: flex; /* Define o layout como flexbox */
    align-items: center; /* Alinha os itens ao centro no eixo vertical */
    justify-content: center; /* Alinha os itens ao centro no eixo horizontal */
    font-size: 22px; /* Define o tamanho da fonte como 22px */
    margin: 0px 5px 30px 5px; /* Aplica margens de 0px à esquerda, 5px à direita, 30px na parte inferior e 5px na parte superior */
    border: var(--Danilo) solid; /* Define uma borda sólida com a cor Danilo (variável CSS) */
    border-radius: 15px; /* Arredonda os cantos da borda em 15px */
    padding: 5px; /* Aplica um padding de 5px ao redor do conteúdo */
  }

  .coment-box img {
    height: 30px; /* Define a altura das imagens como 30px */
  }

/*Div para acoplar a mensagem de marca catalogada*/
.marca-registrada {
  display: flex; /* Define o layout como flexbox, permitindo um layout flexível */
  justify-content: center; /* Alinha os itens filhos ao centro ao longo do eixo horizontal */
}

/*Aumentar a fonte do texto*/
.marca-registrada h4 {
  font-size: 15px; /* Define o tamanho da fonte do texto h4 para 20px */
  box-shadow: 4px 2px 4px 4px rgba(2, 4, 2, 0.7);
  margin: 20px auto;
  color: #800000;
  /* background-color: var(--Danilo); */
  padding: 5px;
  border-radius: 15px;
  text-shadow: 10px 0px 13px var(--Danilo);
}

  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*ESPAÇO RESERVADO PARA INDEX1*/

.slider{ /*DIV GERAL DAS IMAGENS DA TRANSIÇÃO*/
  margin: 0 auto;
  width: 700px;
  height: 700px;
  overflow: hidden;
  border: outset 8px var(--gold);
  border-radius: 20px;
  }
  
  .slides{ /*ABRANGE OS BUTTONS, IMAGENS E INPUTS*/
  width: 400%;
  height: 400px;
  display: flex;
  }
  
  .slides input{ /*BOLINHAS*/
  display: none;
  }
  
  .slide{/*CADA IMAGEM*/
  width: 25%;
  position: relative;
  transition: 1s;
  }
  
  .slide img{ /*IMAGEM DO SLIDE*/
  width: 1700px;
  height: 700px;
  }
  
  .manual-navigation{
  position: absolute;
  width: 1700px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
  }
  
  .manual-btn{
  border: 2px solid var(--DarkOrange);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 3s;
  }
  
  .manual-btn:not(:last-child){
  margin-right: 40px;
  }
  
  .manual-btn:hover{
  background-color: var(--DarkCyan);
  }
  
  #radio1:checked ~ .first{ /*pai*/
  margin-left: 0;
  }
  
  #radio2:checked ~ .first{ /*filho*/
      margin-left: -25%;
  }
  
  #radio3:checked ~ .first{ /*filho2*/
      margin-left: -50%;
  }
  
  #radio4:checked ~ .first{ /*filho3*/
      margin-left: -75%;
  }
  
  #radio5:checked ~ .first{ /*filho3*/
    margin-left: -100%;
}
  .navigation-auto div{
  border: 2px solid var(--black);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
  }
  
  .navigation-auto{
  position: absolute;
  width: 1700px;
  margin-top: 630px;
  display: flex;
  justify-content: center;
  }
  
  .navigation-auto div:not(:last-child){
  margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: var(--white);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: var(--white);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
   background-color: var(--white);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: var(--white);
  }
  
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--white);
  }

.txt-area-walker {
  display: flex;
  justify-content: center;
}

.container-walker1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.container-walker2 {
  display: grid;
  grid-template-columns: 2fr;
}

.caixa-walker1 {
  display: inline-flex;
  border: 5px solid var(--Danilo);
  padding-bottom: 500px;
  position: relative;
  line-height: 500px;
  cursor: pointer;
  gap: 30px;
}

.caixa-imagem1 {
  display: inline-flex;
  background-image: url(/imagens/historicopasseio.jpg);
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
}

.caixa-walker1 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--DarkGray);
  text-shadow: var(--Danilo) 50px 50px 50px;
}

.caixa-walker2 {
  display: inline-flex;
  border: 5px solid var(--Danilo);
  padding-bottom: 500px;
  position: relative;
  line-height: 500px;
  cursor: pointer;
}

.caixa-imagem2 {
  display: inline-flex;
  background-image: url(/imagens/grafico\ de\ ganhos.png);
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
}

.caixa-walker2 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--DarkGray);
  text-shadow: var(--Danilo) 50px 50px 50px;
}

.caixa-walker3 {
  display: inline-flex;
  border: 5px solid var(--Danilo);
  padding-bottom: 500px;
  position: relative;
  line-height: 500px;
  cursor: pointer;
}

.caixa-imagem3 {
  display: inline-flex;
  background-image: url(/imagens/configurações\ e\ preferências.png);
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
}

.caixa-walker3 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--DarkGray);
  text-shadow: var(--Danilo) 50px 50px 50px;
}

.child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
}

/*Estilizando a parte do contato.*/
.corpo-dados {
  background-color: var(--DarkGray);
  font-size: 20px;
}

/*titulo do contato*/
.title-contato {
text-align: center;

}

/* area para estilização do popup de registro e login */

.login-area {
  display: none;
  position: fixed;
  z-index:1 ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

}

.form-login a{
margin-left: 60px;
}

.loglab{
  margin-left: 70px;
}


.close-btn-log {
color: black;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.login{
margin-left: 22%;

}

  
      .login-button {
  color: white;
  background-color: black;
  padding: 5px 30px 5px 30px ;
border-radius: 10px;
height: 30px;
}

.enter-login-button {
color: white;
background-color: black;
margin-left:auto;
padding: 5px 30px 5px 30px ;
border-radius: 10px;
height: 30px;
margin-left: 28%;
margin-top: 20px;
}

.enter-login-button:hover{
background-color: dimgray;
color: white;
}

.area {
  display: none;
  position: fixed;
  z-index:1 ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  background-color: rgb(0,0,0);
}

      .bots {
          margin-bottom: 50px;
          display: flex;
          font-family: 'Atma';
      }
      
      .modal-content {
          background-color: white;
          margin: 5% auto;
          padding: 20px;
          border: 1px solid black;
          width: 20%;
          border-radius: 15px;
          box-shadow: 2px 3px 5px;
      }

      .registrar{
          margin-left: 18%;
      }
      
      .register-area{
          display: none;
          position: fixed;
          z-index: 1; 
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%;
       outline: none;
          background-color: rgba(0,0,0,0.4);
      
      }

      .regislab {
          margin-left: 110px;
      }
      .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close-btn {
color: black;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
      .close-btn-regis {
        color: black;
          float: right;
          font-size: 35px;
          font-weight: bold;
          cursor: pointer;
      }
     
           input {
          display: block;
          width: 50%;
          outline: none;
          margin-left: auto;
          margin-right: auto;
          height: 30px;
          border-radius: 15px;
              margin-top: 3px;
           }
           
           button{
            cursor: pointer;
            margin-top: 50px;
           }
              .register-button {
          color: white;
          background-color: black;
          padding: 5px 20px 5px 20px ;
          margin-left: 15px;
           border-radius: 10px;
           height: 30px;
      }
      
      .register-button:hover{
        background-color: dimgray;
        color: white;
      }
      
      .enter-button {
        color: white;
          background-color: black;
          padding: 5px 20px 5px 20px ;
      border-radius: 10px;
      height: 30px;
      margin-left: 35%;
          margin-top: 20px;
      }
      
      .enter-button:hover{
        background-color: dimgray;
        color: white;
      }

      header {
        background-color: #24252a;
        box-shadow: 0px 3px 10px #464646;
    }
    
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }
    
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo h1 {
        color: #fff;
    }
    
    .nav-list {
        display: flex;
        align-items: center;
    }
    
    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    
    .nav-item {
        margin: 0 15px;
    }
    
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
    }
    
    .login-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #0187a7;
    }
    
    .login-button button a {
        text-decoration: none;
        color: var(--Danilo);
        font-weight: 500;
        font-size: 1.1rem;
    }
    
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu {
        display: none;
    }
    
    /* Barra de menu lateral */

    .fundo-menu {
      height: 100vh;
      
    }

    nav.menu-lateral {
      width: 80px;
      height: 100%;
      background-color: transparent;
      padding: 40px 0 40px 1%;
      box-shadow: 1px 0 0 var(--Danilo);
      position: absolute;
      top: 150px;
      top: 150px;
      left: 0;
      overflow: hidden;
      transition: .6s;
    }

    main {
      position: absolute;
    
    }

    nav.menu-lateral.expandir {
      width: 300px;
    }

    .btn-expandir {
      width: 100%;
      padding-left: 10px;
    }

    .btn-expandir > i {
      color: var(--Danilo);
      font-size: 24px;
      cursor: pointer;
    }

    ul {
      height: 100%;
      list-style-type: none;
    }

    ul li.item-menu:hover {
      background-color: var(--LightGray);
    }

    ul li.item-menu {
      transition: .2s;
    }

    ul li.ativo {
      background-color: var(--MediumVioletRed);
    }

    ul li.item-menu a{
      color: var(--Danilo);
      text-decoration: none;
      font-size: 20px;
      padding: 20px 4%;
      display: flex;
      margin-bottom: 20px;
      line-height: 40px ;
    }

    ul li.item-menu a .txt-link {
      margin-left: 40px;
      transition: .5s;
      opacity: 1;
    }

    nav.menu-lateral.expandir .txt-link {
      margin-left: 40px;
    }

    ul li.item-menu a .icon > i {
      font-size: 30px;
      margin-left: 10px;
    }